<div *ngIf="!connectionSuccesful">
<button *ngIf="!connectionSuccesful" type="button" class="btn btn-danger" (click)="Connect()">Connect</button>
<br>
</div>
<div *ngIf="tokenId != null" class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Goblin {{tokenId}}</h5>
      <p class="card-text">You are invited to join the Goblin BLIVers community with {{tokenId}}</p>
      <a href="{{url}}" class="btn btn-primary" target="_blank">Join Now</a>
    </div>
</div>