<div class="login__containter">
    <header class="login__header">
        <div class="login__container__left">
        
        </div>
        <div class="login__container__right">
            <div class="login__container__right__card">
                <form #form="ngForm" class >
                    <div class="login__form">
                        <label for="email"> E-Mail </label>
                        <input type="email" class="login__email" id="email" ngModel name='email' required email>
                        <label for="Password"> Password </label>
                        <input type="password" class="login__password" id="password" ngModel name='password' required minlength="6">
                        <button class="login__button" type="submit" (click) = "onSubmit(form)" [disabled]='!form.valid'>Login</button>
                        <button class="signup__button" (click)="onSignUp">Apply for Supply Chain</button>
                    </div>
                    </form>
            </div>
        </div>
    </header>
</div>